<footer>
  &copy; <%= new Date().getFullYear() %> CryptoTrade Broker. All rights reserved.
</footer>

<!-- TradingView Widget Script -->
<script src="https://s3.tradingview.com/tv.js"></script>


<!-- Your custom JS -->
<script src="/js/index.js"></script>

</body>
</html>
